<div class="product">
        <div class="cursor-pointer outline-none" [routerLink]="['/products',product.id]">
            <picture class="w-full rounded-2xl overflow-hidden block">
            <img
                loading="lazy"
                class="w-full transition"
                [src]="product.pictureUrl"
                alt="product"
            />
            </picture>
            <h3 class="product-title text-base font-bold mt-1 whitespace-nowrap">
                {{product.name}}
                @if(product.scientificName){
                ({{product.scientificName}})
                }
            </h3>
            
            <div class="flex  text-base mt-1">
                <b>{{'productCard.forms' | translate}}:</b>
                <p class="form ms-2 whitespace-nowrap"> 
                @for (form of product.forms.slice(0, 3); track $index) {
                    @if(!$first){ ⭒ }{{form}}
                }
                </p>
            </div>
            <div class="flex text-base mt-1">
                <b>{{'productCard.harvest' | translate}}:</b><pre> {{product.harvestSeason[0]}} </pre>
            </div>
        </div>
            <button [disabled]="isLoading" (click)="orderNow()" class="main-btn-secondary mt-2 w-full font-semibold block text-center">
            {{'productCard.orderNow' | translate}}
        </button>
        
</div>