header{
    background-image: url("/images/story-header.png");
    background-position: top center;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    h2{
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}
.our-roots{
    margin-top: -150px;
    background-image: url('/images/Union.png');
}
h3{
    @apply border-b border-b-[#098943] w-fit relative flex gap-1 mb-4;
}
.founder-journey{
    background-image: url('/images/bg-founder.png');
    background-position: center center;
    background-size: cover;
}


.our-mission{
    background-color: #e8fff1; 
    border-left: 3px solid #00984a;
    border-bottom: 3px solid #00984a;
    border-radius: 0 38px 0 38px;
    color: #1a1a1a;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.15);
}
.our-message{
    background-color: #EDE1EF;
    border-left: 3px solid #7A4485;
    border-bottom: 3px solid #7A4485;
    border-radius: 38px 0 38px;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.15);
}
.slider-image{
    animation: slider 5000ms infinite;
    background-position: center center;
    background-repeat: no-repeat;
    // background-size: cover;
}
@keyframes slider {
    0% {
        background-image: url('/images/story (1).png');
    }
    20% {
        background-image: url('/images/story (2).png');
    }
    40% {
        background-image: url('/images/story (3).png');
    }
    60% {
        background-image: url('/images/story (4).png');
    }
    80% {
        background-image: url('/images/story (5).png');
    }
    100% {
        background-image: url('/images/story (1).png');
    }
}