<section class="py-7">
    <div class="container">
        <div class="section-title">{{'home.contact.ContactUs' | translate}}</div>
        <div class="section-tag mt-3">{{'home.contact.help' | translate}}</div>
        <div class="text-center py-10 max-w-[660px] mx-auto radial-bg">
            <h2 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl max-w-[400px] mx-auto">{{'home.contact.title' | translate}}</h2>
            <p class="text-base mt-4 ">{{'home.contact.description' | translate}}</p>
        </div>
        <div class="flex flex-col sm:flex-row gap-y-5 items-center">
            <picture>
                <img class="w-full" src="/images/about-radwa.png" alt="image">
            </picture>
            <div class="px-3 w-full sm:w-3/4 md:w-1/2 mx-auto">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>

</section>