.radial-bg{
    background-image: url('/images/Ellipse 46.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
// .bg{
//     background-image: url('/images/Frame 1984082083.png');
//     background-repeat: no-repeat;
//     background-position:  center center;
// }