<div>
    <h3>
        <img src="/images/Subtract.png" alt="image">
        {{ 'experience.overviewTitle' | translate }}
    </h3>
    <p class="text-base lg:max-w-[61%]">
        {{ 'experience.overviewText' | translate }}
    </p>

    <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-6 mt-4">

        <div class="col-span-2 lg:col-span-3 bg-[#F7F2F8] border shadow rounded-lg p-5">
            <div class="flex items-center gap-2">
                <img src="/images/BM.png" alt="image">
                <h2 class="text-base font-semibold">
                    {{ 'experience.businessManagementTitle' | translate }}
                </h2>
            </div>
            <ul class="list-disc list-inside ms-1 mt-4">
                <li>{{ 'experience.businessManagementPoints.1' | translate }}</li>
                <li>{{ 'experience.businessManagementPoints.2' | translate }}</li>
                <li>{{ 'experience.businessManagementPoints.3' | translate }}</li>
            </ul>
        </div>

        <div class="col-span-2 lg:col-span-3 bg-[#F0FEF7] border shadow rounded-lg p-5">
            <div class="flex items-center gap-2">
                <img src="/images/CR.png" alt="image">
                <h2 class="text-base font-semibold">
                    {{ 'experience.marketingTitle' | translate }}
                </h2>
            </div>
            <ul class="list-disc list-inside ms-1 mt-4">
                <li>{{ 'experience.marketingPoints.1' | translate }}</li>
                <li>{{ 'experience.marketingPoints.2' | translate }}</li>
                <li>{{ 'experience.marketingPoints.3' | translate }}</li>
            </ul>
        </div>

        <div class="col-span-2 bg-[#F0FEF7] border shadow rounded-lg p-5">
            <div class="flex items-center gap-2">
                <img src="/images/OD.png" alt="image">
                <h2 class="text-base font-semibold">
                    {{ 'experience.exportOpsTitle' | translate }}
                </h2>
            </div>
            <ul class="list-disc list-inside ms-1 mt-4">
                <li>{{ 'experience.exportOpsPoints.1' | translate }}</li>
                <li>{{ 'experience.exportOpsPoints.2' | translate }}</li>
                <li>{{ 'experience.exportOpsPoints.3' | translate }}</li>
            </ul>
        </div>

        <div class="col-span-2 bg-[#F7F2F8] border shadow rounded-lg p-5">
            <div class="flex items-center gap-2">
                <img src="/images/PPP.png" alt="image">
                <h2 class="text-base font-semibold">
                    {{ 'experience.pricingTitle' | translate }}
                </h2>
            </div>
            <ul class="list-disc list-inside ms-1 mt-4">
                <li>{{ 'experience.pricingPoints.1' | translate }}</li>
                <li>{{ 'experience.pricingPoints.2' | translate }}</li>
            </ul>
        </div>

        <div class="col-span-2 bg-[#F0FEF7] border shadow rounded-lg p-5">
            <div class="flex items-center gap-2">
                <img src="/images/CC.png" alt="image">
                <h2 class="text-base font-semibold">
                    {{ 'experience.certificationsTitle' | translate }}
                </h2>
            </div>
            <ul class="list-disc list-inside ms-1 mt-4">
                <li>{{ 'experience.certificationsPoints.1' | translate }}</li>
                <li>{{ 'experience.certificationsPoints.2' | translate }}</li>
            </ul>
        </div>

    </div>
</div>
