.content{
    background-image: url('/images/Background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media (max-width:768px) {
    .content{
    background-position: top left;
}
}
  .truncate-text {
    max-height: 5rem;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
  }

  .truncate-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.226));
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + p {
    max-height: none;
  }

  input[type="checkbox"]:checked + p::after {
    display: none;
  }

  label span::after {
    content: "Show more";
  }

  input[type="checkbox"]:checked ~ span::after {
    content: "Show less";
  }

  label span {
    color: #7e22ce;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: underline;
  }


  