<section class="py-7">
  <div class="container">
    <h2 class="section-title">{{ 'quality.title' | translate }}</h2>

    <div class="mt-10 flex justify-between flex-col lg:flex-row gap-10 lg:gap-24">
      <div class="flex-1">
        <h3 class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl">
          {{ 'quality.subtitle' | translate }}
        </h3>
        <ul class="mt-8">
          <li>
            <a (click)="scrollToSection('sampling-procedure')" class="block cursor-pointer">
              <pre
                class="cursor-pointer text-[#111] uppercase border-t border-b w-fit py-2 border-gray-300 font-medium transition hover:text-[#098943]">
{{ 'quality.our_sampling_procedure' | translate }}</pre>
            </a>
          </li>
          <li>
            <a (click)="scrollToSection('processing-stages')" class="block cursor-pointer">
              <pre
                class="cursor-pointer text-[#111] uppercase border-b w-fit py-2 border-gray-300 font-medium transition hover:text-[#098943]">
{{ 'quality.our_processing_stages' | translate }}</pre>
            </a>
          </li>
          <li>
            <a (click)="scrollToSection('packing-labeling')" class="block cursor-pointer">
              <pre
                class="cursor-pointer text-[#111] uppercase border-b w-fit py-2 border-gray-300 font-medium transition hover:text-[#098943]">
{{ 'quality.our_packing_labeling' | translate }}</pre>
            </a>
          </li>
          <li>
            <a (click)="scrollToSection('certificates')" class="block cursor-pointer">
              <pre
                class="cursor-pointer text-[#111] uppercase border-b w-fit py-2 border-gray-300 font-medium transition hover:text-[#098943]">
{{ 'quality.our_certificates' | translate }}</pre>
            </a>
          </li>
        </ul>
      </div>

      <div class="flex-1">
        <p class="text-base">{{ 'quality.first_paragraph' | translate }}</p>
        <br />
        <p class="text-base">{{ 'quality.second_paragraph' | translate }}</p>
        <br />
        <p class="text-base">{{ 'quality.third_paragraph' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="py-24 sampling relative" id="sampling-procedure" #samplingProcedure>
    <img
      class="w-[50px] lg:w-[150px] absolute top-5 lg:-top-24 start-0 rtl:rotate-180"
      src="/images/accent-mint-1_180x437.png.png"
      alt="image" />
    <img
      class="w-[50px] lg:w-[150px] absolute bottom-5 lg:-bottom-24 end-0 rtl:rotate-180"
      src="/images/accent-mint-3_155x295.png.png"
      alt="image" />

    <div class="container">
      <span class="section-tag">{{ 'quality.first_stage' | translate }}</span>
      <div class="heading">
        <h2 class="mt-7 text-center section-title">
          {{ 'quality.sampling_standard_procedure' | translate }}
        </h2>
        <p class="text-center mt-3">
          {{ 'quality.quality_control_description' | translate }}
        </p>
      </div>

      <div class="flex justify-between mt-7 flex-col md:flex-row gap-10 lg:gap-16">
        <div class="flex-1">
          <span class=" px-5 py-2 bg-green-200 border-2 rounded-xl">{{
            'quality.test1' | translate
          }}</span>
          <h3 class="font-semibold text-base sm:text-lg md:text-xl lg:text-2xl mt-6">
            {{ 'quality.raw_material_sample' | translate }}
          </h3>
          <p class="mt-3 text-base">
            {{ 'quality.raw_material_sample_p1' | translate }}
          </p>
          <p class="mt-2 text-base">
            {{ 'quality.raw_material_sample_p2' | translate }}
          </p>
          <p class="mt-2 text-base">
            {{ 'quality.raw_material_sample_p3' | translate }}
          </p>
        </div>
        <picture class="flex-1">
          <img class="w-full" src="/images/quality1.png" alt="image" />
        </picture>
      </div>

      <div class="flex justify-between mt-24 flex-col-reverse md:flex-row gap-10 lg:gap-16">
        <picture class="flex-1">
          <img class="w-full" src="/images/quality-2.png" alt="image" />
        </picture>
        <div class="flex-1">
          <span class=" px-5 py-2 bg-green-200 border-2 rounded-xl">{{
            'quality.test2' | translate
          }}</span>
          <h3 class="font-semibold text-base sm:text-lg md:text-xl lg:text-2xl mt-6">
            {{ 'quality.final_product_sample' | translate }}
          </h3>
          <p class="mt-3 text-base">
            {{ 'quality.final_product_sample_p1' | translate }}
          </p>
          <p class="mt-2 text-base">
            {{ 'quality.final_product_sample_p2' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="processing-stages" #processingStages>
    <app-processing-stage-section></app-processing-stage-section>
  </div>

  <div class="py-24 packing relative" id="packing-labeling" #packingLabeling>
    <img
      class="w-[50px] lg:w-[150px] absolute top-5 lg:-top-16 start-0 rtl:rotate-180"
      src="/images/accent-mint-1_180x437.png.png"
      alt="image" />
    <div class="container">
      <span class="section-tag">{{ 'quality.last_stage' | translate }}</span>
      <div class="heading">
        <h2 class="mt-7 text-center section-title">
          {{ 'quality.packing_labeling' | translate }}
        </h2>
        <p class="text-center mt-3">{{ 'quality.packing_description' | translate }}</p>
      </div>

      <div class="flex justify-between mt-7 flex-col md:flex-row gap-10 lg:gap-16">
        <div class="flex-1">
          <p class="mt-3 text-base">
            <b>{{'quality.packing_b1' | translate}}</b> {{'quality.packing_p1' | translate}}
          </p>
          <p class="mt-2 text-base">
            <b>{{'quality.packing_b2' | translate}}</b> {{'quality.packing_p2' | translate}}
          </p>
          <p class="mt-2 text-base">
            <b>{{'quality.packing_b3' | translate}}</b> {{'quality.packing_p3' | translate}}
          </p>
          <p class="mt-2 text-base">
            {{ 'quality.packing_p4' | translate }}
          </p>

          <p class="mt-2 text-base">
            <b>{{ 'quality.standard_packaging_formats' | translate }}</b>
          </p>

          <table class="w-full  text-center text-gray-700 table-fixed mt-4">
            <thead>
              <tr class="text-gray-900 font-semibold border-b border-gray-200">
                <th class="py-4">{{ 'quality.table.type' | translate }}</th>
                <th class="py-2">{{ 'quality.table.weight' | translate }}</th>
                <th class="py-2">{{ 'quality.table.specification' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2">{{ 'quality.table.row1_type' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row1_weight' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row1_spec' | translate }}</td>
              </tr>
              <tr>
                <td class="py-2">{{ 'quality.table.row2_type' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row2_weight' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row2_spec' | translate }}</td>
              </tr>
              <tr>
                <td class="py-2">{{ 'quality.table.row3_type' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row3_weight' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row3_spec' | translate }}</td>
              </tr>
              <tr>
                <td class="py-2">{{ 'quality.table.row4_type' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row4_weight' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row4_spec' | translate }}</td>
              </tr>
              <tr>
                <td class="py-2">{{ 'quality.table.row5_type' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row5_weight' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row5_spec' | translate }}</td>
              </tr>
              <tr>
                <td class="py-2">{{ 'quality.table.row6_type' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row6_weight' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row6_spec' | translate }}</td>
              </tr>
              <tr>
                <td class="py-2">{{ 'quality.table.row7_type' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row7_weight' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row7_spec' | translate }}</td>
              </tr>
              <tr>
                <td class="py-2">{{ 'quality.table.row8_type' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row8_weight' | translate }}</td>
                <td class="py-2">{{ 'quality.table.row8_spec' | translate }}</td>
              </tr>
              <tr>
                <td class="pt-2 pb-5">{{ 'quality.table.row9_type' | translate }}</td>
                <td class="pt-2 pb-5">{{ 'quality.table.row9_weight' | translate }}</td>
                <td class="pt-2 pb-5">{{ 'quality.table.row9_spec' | translate }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <picture class="hidden lg:block flex-1">
          <img class="w-full rtl:lg:max-h-[660px] ltr:lg:max-h-[760px] object-fill" src="/images/Component 10.png" alt="image" />
        </picture>
      </div>
    </div>
  </div>
  <div class="pb-24 certificates" id="certificates" #certificates>
  <div class="container">
      <span class="px-5 py-2 bg-green-200 border-2 rounded-xl mx-auto block w-fit capitalize font-medium">{{ 'certificates.certificate' | translate }}</span>
    <h2 class="text-center font-semibold text-lg sm:text-xl md:text-2xl lg:text-3xl mt-4">{{'certificates.title' | translate}}</h2>
    <div class="flex flex-col sm:flex-row gap-5 mt-10">
      <div>
        <span class="flex-shrink-0 w-10 h-10 rounded-full border-2 flex justify-center items-center">
          1
        </span>
        <div class="mt-3">
          <h3 class="font-semibold text-lg sm:text-xl md:text-2xl lg:text-3xl">
            {{ 'certificates.food_safety_title' | translate }}
          </h3>
          <p>
            {{ 'certificates.food_safety_desc' | translate }}
          </p>
          <picture class="mt-2">
            <img class="w-full" src="/images/certificate1.png" alt="image">
          </picture>
        </div>
      </div>

      <div>
        <span class="flex-shrink-0 w-10 h-10 rounded-full border-2 flex justify-center items-center">
          2
        </span>
        <div class="mt-3">
          <h3 class="font-semibold text-lg sm:text-xl md:text-2xl lg:text-3xl">
            {{ 'certificates.iso_title' | translate }}
          </h3>
          <p>
            {{ 'certificates.iso_desc' | translate }}
          </p>
          <picture class="mt-2">
            <img class="w-full" src="/images/certificate2.png" alt="image">
          </picture>
        </div>
      </div>

    </div>
  </div>
</div>

</section>
