<div class="community">
  <div class="text-center">
    <h2 class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl">
      {{ 'Initiative.little_exporter_title' | translate }}
    </h2>
    <p class="text-base">
      {{ 'Initiative.little_exporter_subtitle' | translate }}
    </p>
  </div>

  <picture class="block w-full mt-6">
    <img src="/images/community1(2).png" class="w-full" alt="image">
  </picture>

  <div class="space-y-6 mt-6">
    
    <div class="space-y-3">
      <h3 class="font-semibold text-base sm:text-lg md:text-xl lg:text-2xl">
        {{ 'Initiative.idea_title' | translate }}
      </h3>
      <p class="text-base">
        {{ 'Initiative.idea_paragraph_1_part1' | translate }}
        <b>{{ 'Initiative.idea_paragraph_1_bold1' | translate }}</b>
        {{ 'Initiative.idea_paragraph_1_part2' | translate }}
      </p>
      <p class="text-base">
        {{ 'Initiative.idea_paragraph_2_part1' | translate }}
        <b>{{ 'Initiative.idea_paragraph_2_bold1' | translate }}</b>
        {{ 'Initiative.idea_paragraph_2_part2' | translate }}
        <b>{{ 'Initiative.idea_paragraph_2_bold2' | translate }}</b>،
        {{ 'Initiative.idea_paragraph_2_part3' | translate }}
        <b>{{ 'Initiative.idea_paragraph_2_bold3' | translate }}</b>.
      </p>
      <p class="text-base">
        {{ 'Initiative.idea_paragraph_3_part1' | translate }}
        <b>{{ 'Initiative.idea_paragraph_3_bold1' | translate }}</b>
        {{ 'Initiative.idea_paragraph_3_part2' | translate }}
      </p>
    </div>

    <div class="space-y-3">
      <h3 class="font-semibold text-base sm:text-lg md:text-xl lg:text-2xl">
        {{ 'Initiative.dream_title' | translate }}
      </h3>
      <p class="text-base">{{ 'Initiative.dream_paragraph_1' | translate }}</p>
      <p class="text-base">{{ 'Initiative.dream_paragraph_2' | translate }}</p>
    </div>

    <div class="space-y-2">
      <h3 class="font-semibold text-base sm:text-lg md:text-xl lg:text-2xl">
        {{ 'Initiative.motivation_title' | translate }}
      </h3>
      <p class="text-base">{{ 'Initiative.motivation_1' | translate }}</p>
      <p class="text-base">{{ 'Initiative.motivation_2' | translate }}</p>
      <p class="text-base">{{ 'Initiative.motivation_3' | translate }}</p>
      <p class="text-base">{{ 'Initiative.motivation_4' | translate }}</p>
      <p class="text-base">
        {{ 'Initiative.motivation_5_part1' | translate }}
        <b>{{ 'Initiative.motivation_5_bold1' | translate }}</b>
      </p>
    </div>

    <div class="space-y-3">
      <h3 class="font-semibold text-base sm:text-lg md:text-xl lg:text-2xl">
        {{ 'Initiative.content_title' | translate }}
      </h3>
      <p class="text-base">
        <b>{{ 'Initiative.content_day1_part1' | translate }}</b>
        {{ 'Initiative.content_day1_part2' | translate }}
      </p>
      <p class="text-base">
        <b>{{ 'Initiative.content_day2_part1' | translate }}</b>
        {{ 'Initiative.content_day2_part2' | translate }}
      </p>
      <p class="text-base">
        <b>{{ 'Initiative.content_day3_part1' | translate }}</b>
        {{ 'Initiative.content_day3_part2' | translate }}
      </p>
    </div>

    <div class="space-y-3">
      <h3 class="font-semibold text-base sm:text-lg md:text-xl lg:text-2xl">
        {{ 'Initiative.impact_title' | translate }}
      </h3>
      <p class="text-base">{{ 'Initiative.impact_paragraph_1' | translate }}</p>
      <p class="text-base">{{ 'Initiative.impact_paragraph_2' | translate }}</p>
      <p class="text-base">{{ 'Initiative.impact_paragraph_3' | translate }}</p>
    </div>
  </div>
</div>
